## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
import os
file_path = os.path.join("weather_data", "WeatherPy_vacation.csv")
vacation_df = pd.read_csv(file_path)
clean_hotel_df = vacation_df
vacation_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,0,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,2,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,People ThankYou
2,3,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,People ThankYou
3,10,Port Elizabeth,ZA,77.29,clear sky,-33.9180,25.5701,39 On Nile Guest House
4,11,Puerto Ayora,EC,77.31,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...,...
481,1810,Touros,BR,79.05,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
482,1811,Bredasdorp,ZA,78.89,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
483,1812,Butaritari,KI,81.19,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
484,1813,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,People ThankYou
485,1819,Gladstone,AU,82.33,few clouds,-23.8500,151.2500,Highpoint International Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather 
#    description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Decription</dt><dd>{Weather description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.loc[vacation_df['City'] == "Kut Chap"]

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
103,382,Kut Chap,TH,80.38,broken clouds,17.4257,102.5669,ผึ้งหลวง รีสอร์ต

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Kut Chap']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Kut Chap']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Tuy Hoa']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bien Hoa'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Champasak']

In [7]:
import numpy as np

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city 
#    DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary = gmaps.directions_layer(
    start = start[0], 
    end = end[0],
    waypoints= [
        stop1[0],
        stop2[0],
        stop3[0]
    ],
    travel_mode='DRIVING'
)

fig.add_layer(itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,382,Kut Chap,TH,80.38,broken clouds,17.4257,102.5669,ผึ้งหลวง รีสอร์ต
1,1064,Tuy Hoa,VN,80.76,scattered clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
2,1188,Bien Hoa,VN,84.18,broken clouds,10.9500,106.8167,OYO 991 Duy Anh Hotel
3,1581,Champasak,LA,79.18,overcast clouds,14.7500,106.0000,Kiat Ngong Wetland BUNGALOW

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Decription</dt><dd>{Weather description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(14.7500, 106.0000), zoom_level=4)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))