## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,% Humidity,% Cloudiness,Wind Speed,Country,Date,Weather description
0,0,Vaini,-21.2000,-175.2000,77.16,83,20,8.05,TO,2022-03-29 08:23:38,few clouds
1,1,Rangoon,16.8053,96.1561,94.96,52,75,6.91,MM,2022-03-29 08:23:39,broken clouds
2,2,Rikitea,-23.1203,-134.9692,77.81,70,92,2.71,PF,2022-03-29 08:23:40,overcast clouds
3,3,Rikitea,-23.1203,-134.9692,77.81,70,92,2.71,PF,2022-03-29 08:23:40,overcast clouds
4,4,Pisco,-13.7000,-76.2167,66.25,82,40,13.80,PE,2022-03-29 08:23:41,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
1818,1818,Darnah,32.7670,22.6367,65.12,50,0,9.44,LY,2022-03-29 09:13:37,clear sky
1819,1819,Gladstone,-23.8500,151.2500,82.33,39,19,4.61,AU,2022-03-29 09:13:37,few clouds
1820,1820,Itarema,-2.9248,-39.9167,74.44,95,92,7.67,BR,2022-03-29 09:13:38,overcast clouds
1821,1821,Ozinki,51.1786,49.6769,35.13,98,86,23.98,RU,2022-03-29 09:13:38,overcast clouds
1822,1822,New Norfolk,-42.7826,147.0587,61.92,65,97,2.62,AU,2022-03-29 09:12:07,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? \n"))
max_temp = float(input("What is the maximum temperature you would like for your trip? \n"))

What is the minimum temperature you would like for your trip?
75
What is the maximum temperature you would like for your trip?
90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp)&(city_data_df['Max Temp']<= max_temp)]
preferred_city_df

,City_ID,City,Lat,Lng,Max Temp,% Humidity,% Cloudiness,Wind Speed,Country,Date,Weather description
0,0,Vaini,-21.2000,-175.2000,77.16,83,20,8.05,TO,2022-03-29 08:23:38,few clouds
2,2,Rikitea,-23.1203,-134.9692,77.81,70,92,2.71,PF,2022-03-29 08:23:40,overcast clouds
3,3,Rikitea,-23.1203,-134.9692,77.81,70,92,2.71,PF,2022-03-29 08:23:40,overcast clouds
10,10,Port Elizabeth,-33.9180,25.5701,77.29,65,0,3.44,ZA,2022-03-29 08:23:00,clear sky
11,11,Puerto Ayora,-0.7393,-90.3518,77.31,86,60,5.39,EC,2022-03-29 08:23:44,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
1810,1810,Touros,-5.1989,-35.4608,79.05,82,100,11.43,BR,2022-03-29 09:13:34,overcast clouds
1811,1811,Bredasdorp,-34.5322,20.0403,78.89,35,100,13.78,ZA,2022-03-29 09:04:33,overcast clouds
1812,1812,Butaritari,3.0707,172.7902,81.19,72,26,9.42,KI,2022-03-29 09:07:02,scattered clouds
1813,1813,Rikitea,-23.1203,-134.9692,77.65,71,92,2.80,PF,2022-03-29 09:08:13,overcast clouds
1819,1819,Gladstone,-23.8500,151.2500,82.33,39,19,4.61,AU,2022-03-29 09:13:37,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
print(preferred_city_df.isnull().sum())

# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_city_df = preferred_city_df.dropna()

print(
'\n-----------------------'
'\nDropping all empty rows\n'
'-----------------------\n'
)

print(preferred_city_df.isnull().sum())

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
% Humidity             0
% Cloudiness           0
Wind Speed             0
Country                3
Date                   0
Weather description    0
dtype: int64

-----------------------
Dropping all empty rows
-----------------------

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
% Humidity             0
% Cloudiness           0
Wind Speed             0
Country                0
Date                   0
Weather description    0
dtype: int64

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_city_df[["City", "Country", "Max Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
2,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,
3,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,
10,Port Elizabeth,ZA,77.29,clear sky,-33.9180,25.5701,
11,Puerto Ayora,EC,77.31,broken clouds,-0.7393,-90.3518,
12,Broken Hill,AU,79.81,clear sky,-31.9500,141.4333,
13,Cayenne,GF,80.10,broken clouds,4.9333,-52.3333,
14,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,
16,Male,MV,82.18,clear sky,4.1748,73.5089,
17,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,

In [7]:
# Using gmaps
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, rows in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = rows['Lat']
    lng = rows['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Creating the base URL.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request passing in our params into the base URL - Returning it in json format.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel {index} not found... skipping.")

Hotel 165 not found... skipping.
Hotel 245 not found... skipping.
Hotel 246 not found... skipping.
Hotel 276 not found... skipping.
Hotel 349 not found... skipping.
Hotel 518 not found... skipping.
Hotel 580 not found... skipping.
Hotel 680 not found... skipping.
Hotel 849 not found... skipping.
Hotel 855 not found... skipping.
Hotel 975 not found... skipping.
Hotel 1184 not found... skipping.
Hotel 1288 not found... skipping.
Hotel 1527 not found... skipping.
Hotel 1586 not found... skipping.
Hotel 1629 not found... skipping.
Hotel 1641 not found... skipping.
Hotel 1680 not found... skipping.

In [8]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop((list(hotel_df.loc[hotel_df['Hotel Name'] == ''].index)), axis=0)

# Check to see if any entries with no hotel name
(clean_hotel_df['Hotel Name'] == '').sum()

0

In [9]:
clean_hotel_df

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,People ThankYou
3,Rikitea,PF,77.81,overcast clouds,-23.1203,-134.9692,People ThankYou
10,Port Elizabeth,ZA,77.29,clear sky,-33.9180,25.5701,39 On Nile Guest House
11,Puerto Ayora,EC,77.31,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
1810,Touros,BR,79.05,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
1811,Bredasdorp,ZA,78.89,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
1812,Butaritari,KI,81.19,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
1813,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,People ThankYou
1819,Gladstone,AU,82.33,few clouds,-23.8500,151.2500,Highpoint International Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Decription</dt><dd>{Weather description}</dd>
</dl>
"""

In [12]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [1]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'clean_hotel_df' is not defined